
@{
    ViewBag.Title = "Bio";
}
<br />
<h3 style="text-align:center">Name : @ViewData["Name"]</h3>
<hr />

<h3>Objective</h3>
<table class="table table-striped">
    <tbody>
    <td>
        Specialized in Full Stack Development.
        Well-versed in numerous programming languages including HTML5, PHP, OOP, C#, JavaScripts, CSS, MySQL, Project Management.
        Also expeienced with Network Management.
    </td>
    </tbody>
</table>

<h3>Contact Info</h3>
<table class="table table-striped">
    <tbody>
        <tr>
            <th>Phone</th>
            <td>01720404781</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>tanhareja@gmail.com</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>Halishahar, Chattogram, Bangladesh</td>
        </tr>
    </tbody>
</table>

<h3>Personal Info</h3><hr />
<table class="table table-responsive">
    <tbody>
        <tr>
            <th>DoB</th>
            <td>31 Jan 2000</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>Female</td>
        </tr>
        <tr>
            <th>Religion</th>
            <td>Islam</td>
        </tr>
        <tr>
            <th>Nationality</th>
            <td>Bangladeshi</td>
        </tr>
        <tr>
            <th>Father's Name</th>
            <td>Md Rajwanul Goni</td>
        </tr>
        <tr>
            <th>Mother's Name</th>
            <td>Rehena Begum</td>
        </tr>
<tbody>
</table><hr />

<h3>Skill Highlights</h3>
<table class="table table-striped">
    <tbody>
        <tr>
            <td>
                <ul>
                    <li>Programming Language</li>
                    <li>Web Development</li>
                    <li>Project Management</li>
                    <li>Creative Design</li>
                    <li>Network Management</li>
                    <li>Strong Decision Maker</li>
                    <li>Service Focused</li>
                    <li>Teamwork</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>



