
@{
    ViewBag.Title = "Education";
}

<br /><h3 style="text-align:center">Educational Qualification</h3><hr />

<table class="table table-striped">
    <tbody>
        <tr>
            <td>2019-Present</td>
            <td>
                BSc in Computer Science & Engineering<br />
                American International University-Bangladesh, Bangladesh<br />
                Major: Software Engineering
            </td>
        </tr>
    </tbody>
</table>

<table class="table table-striped">
    <tbody>
        <tr>
            <td>2018</td>
            <td>
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp; HSC<br />
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp; Chittagong Govt. Women College, Bangladesh<br />
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp; Department: Science
            </td>
        </tr>
    </tbody>
</table>

<table class="table table-striped">
    <tbody>
        <tr>
            <td>2016</td>
            <td>
                &emsp;&emsp;&emsp;&emsp;&emsp; SSC<br />
                &emsp;&emsp;&emsp;&emsp;&emsp; Khaja Ajmeri High School, Bangladesh<br />
                &emsp;&emsp;&emsp;&emsp;&emsp; Department: Science
            </td>
        </tr>
    </tbody>
</table>