
@{
    ViewBag.Title = "Projects";
}

<br /><h3 style="text-align:center">Projects</h3>
      <table class="table table-bordered" style="border-block-color:black;">
          <thead>
              <th>Course Name</th>
              <th>Project Name</th>
              <th>Tools</th>
          </thead>
              <tbody>
                  <tr>
                      <td>Introduction To Database</td>
                      <td>Online Ordering Food System</td>
                      <td>Oracle</td>
                  </tr>
                  <tr>
                      <td>Object Oriented Analysis & Design</td>
                      <td>Part Time Job Searching System For Students</td>
                      <td>Umlet</td>
                  </tr>
                  <tr>
                      <td>Object Oriented Programming 1 - Java</td>
                      <td>Bank Management System</td>
                      <td>CodeBlocks</td>
                  </tr>
                  <tr>
                      <td>Computer Aided Design & Drafting</td>
                      <td>Apartment Design</td>
                      <td>AutoCAD</td>
                  </tr>
                  <tr>
                      <td>Computer Graphics</td>
                      <td>Sea Beach View</td>
                      <td>CodeBlocks</td>
                  </tr>
                  <tr>
                      <td>Software Engineering</td>
                      <td>Residence Monitoring System</td>
                      <td>Umlet</td>
                  </tr>
                  <tr>
                      <td>Object Oriented Programming 2 - C#</td>
                      <td>Hotel Management System</td>
                      <td>Visual Studio</td>
                  </tr>
                  <tr>
                      <td>Web Technologies</td>
                      <td>Inventory Management System</td>
                      <td>Sublime Text 3, XAMPP</td>
                  </tr>
                  <tr>
                      <td>Microprocessor & Embedded System</td>
                      <td>Traffic System With OLED Warning Board</td>
                      <td>Proteus</td>
                  </tr>
              </tbody>
      </table>
