
@{
    ViewBag.Title = "References";
}

<br />
<h3 style="text-align:center">References</h3>
<table class="table table-striped">
    <tbody>
        <tr>
            <td>
                <ul>
                    <li>Tanvir Ahmed</li>
                    <ui>
                        Lecturer, AIUB<br />
                        tanvir.ahmed@aiub.edu
                    </ui>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<table class="table table-striped">
    <tbody>
        <tr>
            <td>
                <ul>
                    <li>Rashidul Hasan Nabil</li>
                    <ui>
                        Lecturer, AIUB<br />
                        rashidul@aiub.edu
                    </ui>
            </ul>
            </td>
        </tr>
    </tbody>
</table>